<div class="register-container">
  <h2>Create your Account</h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <% if resource.errors.any? %>
      <div id="error_explanation" style="color: red; margin-bottom: 20px;">
        <h3><%= pluralize(resource.errors.count, "error") %> prohibited this user from being saved:</h3>
        <ul>
        <% resource.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-group">
      <%= f.label :full_name, "Full Name" %>
      <%= f.text_field :full_name, placeholder: "Enter your full name", autofocus: true, autocomplete: "name" %>
    </div>

    <div class="form-group">
      <%= f.label :username, "Username" %>
      <%= f.text_field :username, placeholder: "Enter your username", autocomplete: "username" %>
    </div>

    <div class="form-group">
      <%= f.label :email, "Email" %>
      <%= f.email_field :email, placeholder: "Enter your email", autocomplete: "email" %>
    </div>

    <div class="form-group">
      <%= f.label :password, "Password" %> <i>(6 characters minimum)</i>
      <%= f.password_field :password, placeholder: "Enter your password", autocomplete: "new-password" %>
    </div>

    <div class="form-group">
      <%= f.label :password_confirmation, "Repeat Password" %>
      <%= f.password_field :password_confirmation, placeholder: "Repeat your password", autocomplete: "new-password" %>
    </div>

    <button type="submit" class="primary-btn">Create Account</button>

  <% end %>

  <p>Already have an account? <%= link_to "Sign in", new_session_path(resource_name), class: "secondary-link" %></p>
</div>
