
<div class="main-content">
  
  
  <div class="album-header">
    <h1>Albums</h1>
    
    
    <%= link_to "New album", new_album_path, class: "btn-primary" %>
  </div>

  
  <div class="albums-container">
    <% @albums.each do |album| %>
      <div class="album-box">
        
        <h3 class="album-title"><%= album.name %></h3>

        
        <p class="album-detail"><strong>Artist Name:</strong> <%= @artists_hash[album.artist_id] || "Unknown Artist" %></p>

        
        <p class="album-detail"><strong>Year:</strong> <%= album.year %></p>

        
        <%= link_to "Show this album", album_path(album), class: "btn-show" %>
      </div>
    <% end %>
  </div>

</div>
