<h1>Albums</h1>

<!-- Botão de novo álbum -->
<%= link_to "New album", new_album_path, class: "btn-primary" %>

<!-- Exibição dos álbuns -->
<div class="albums-container">
  <% @albums.each do |album| %>
    <div class="album-box">
      <!-- Título do álbum -->
      <h3 class="album-title"><%= album.name %></h3>

      <!-- Nome do artista -->
      <p class="album-detail"><strong>Artist Name:</strong> <%= @artists_hash[album.artist_id] || "Unknown Artist" %></p>

      <!-- Ano do álbum -->
      <p class="album-detail"><strong>Year:</strong> <%= album.year %></p>

      <!-- Botão para exibir mais detalhes -->
      <%= link_to "Show this album", album_path(album), class: "btn-show" %>
    </div>
  <% end %>
</div>
