<div class="album-box">
  <h2 class="album-title">Album Details</h2>
  
  <p>
    <strong>Name:</strong> <span class="album-detail"><%= @album.name %></span>
  </p>

  <p>
    <strong>Artist:</strong> <span class="album-detail"><%= @artists_hash[@album.artist_id] || "Unknown Artist" %></span>
  </p>

  <p>
    <strong>Year:</strong> <span class="album-detail"><%= @album.year %></span>
  </p>

  <div class="action-buttons">
    <div class="button-group">
      <%= link_to "Back to Albums", albums_path, class: "btn-primary" %>
      <%= link_to "Edit", edit_album_path(@album), class: "btn-secondary" %>
      
      <% if current_user.admin? %>
        <%= form_with model: @album, url: album_path(@album), method: :delete, local: true do %>
          <%= submit_tag "Delete", data: { confirm: "Are you sure?" }, class: "btn-danger" %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
