<!DOCTYPE html>
<html>
  <head>
    <%= stylesheet_link_tag "albums_index", media: "all" %>
    <%= stylesheet_link_tag "application", media: "all", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "custom", media: "all" %>
    <%= stylesheet_link_tag "albums_edit", media: "all" %>
    <%= stylesheet_link_tag "albums_show", media: "all" %>
    <%= stylesheet_link_tag "new_album", media: "all" %>
    <%= stylesheet_link_tag "registrations", media: "all" %>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <title><%= content_for(:title) || "My Music Collection" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
  </head>

  <body>
    <nav class="navbar">
      <div class="navbar-left">
        <%= link_to "Albums", albums_path, class: "btn-primary" %>
      </div>

      <div class="navbar-right">
        <% if user_signed_in? %>
          <span class="user-name"><strong><%= current_user.full_name %></strong></span>
          <%= form_with url: destroy_user_session_path, method: :delete, local: true do %>
            <%= submit_tag "Logout", class: "btn-primary" %>
          <% end %>
        <% else %>
          <%= link_to "Login", new_user_session_path, class: "btn-secondary" %>
        <% end %>
      </div>
    </nav>

    <div class="main-content">
      <%= yield %>
    </div>

    <%= javascript_importmap_tags %>
  </body>
</html>
